*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


video{ 
    width: 100%;
}


/* h1{
    color:cornflowerblue;
    font-size: 100px;
    font-weight:100;
    font-family:Georgia, 'Times New Roman', Times, serif; */
}


p{
    max-width: 100px;

}

a{
    text-decoration: none;
    color:brown;
}

h1{

    background-color: yellowgreen;
    max-width: 270px;

    padding-left: 20px;
    margin-left: 20px;
    padding: 0px 10px  ;

}



